{% extends 'base.html' %} {% block body_next %}
<!DOCTYPE html>
<html lang="en">
<style>
    .container {
        background-color: rgb(67, 211, 163);
        padding: 20px;
        margin: 30px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>

<body>
    <h3>This is a todo app </h3>
    <div class="container">
        <div class=" jumbotron ">

            <p class="lead ">This is a simple hero unit, a simple TODO app where you can store your future works to be done.</p>

            <p>The frontend is made using Html and bootstrap while flask handles the backend with flask-sqlalchemy as the database.</p>

        </div>

    </div>

</body>

</html>



{% endblock %}